.App {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

.App::-webkit-scrollbar {
  display: none;
}

.content-son {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 5%;
}

@media screen and (max-width: 490px) {
  .content-son {
    width: 100%;
    margin-left: 43px;
  }
}
