.App {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}

.App::-webkit-scrollbar {
  display: none;
}

.content-son {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 5%;
}
